{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/grid.css">
    <form autocomplete="off" action="..."></form>
    <title>Gadolinium</title>
</head>
<body>
    <div class="Y-div">
        <div class="Y">
            <a class="tableL" href="{% url 'periodic_table' %}">X</a>
            <ul>
                <li>64</li>
                <li class="Y-e">Gd</li>
                <li>Gadolinium</li>
            </ul>    
        </div>
        <div class="Y-info">
            <ul>
                <li><strong>Atomic Number:</strong> 64</li>
                <hr>
                <li><strong>Atomic Mass:</strong> 157.3</li>
                <hr>
                <li><strong>Group:</strong> Lanthanide</li>
                <hr>
                <li><strong>Standard State:</strong> solid</li>
                <hr>
                <li><strong>Melting Point:</strong> 1586K</li>
                <hr>
                <li><strong>Boiling Point:</strong> 3546K</li>
                <hr>
                <li><strong>Electron Configuration:</strong> [Xe]6s<sup>2</sup>4f<sup>7</sup>5d<sup>1</sup></li>
                <hr>
                <li><strong>Year Discovered:</strong> 1880</li>
                <hr>
                <li><a href="https://en.wikipedia.org/wiki/Gadolinium">Wikipedia</a></li>
            </ul>
        </div>
    </div>
</body>
</html>