<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="grid.css">
    <form autocomplete="off" action="..."></form>
    <title>Oxygen</title>
</head>
<body>
    <div class="B-div">
        <div class="B">
            <a class="tableL" href="/periodic_table.html">X</a>
            <ul>
                <li>8</li>
                <li class="B-e">O</li>
                <li>Oxygen</li>
            </ul>    
        </div>
        <div class="B-info">
            <ul>
                <li><strong>Atomic Number:</strong> 8</li>
                <hr>
                <li><strong>Atomic Mass:</strong> 16.00</li>
                <hr>
                <li><strong>Group:</strong> Nonmetal</li>
                <hr>
                <li><strong>Standard State:</strong> Gas</li>
                <hr>
                <li><strong>Melting Point:</strong> 54.36K</li>
                <hr>
                <li><strong>Boiling Point:</strong> 90.2K</li>
                <hr>
                <li><strong>Electron Configuration:</strong> [He]2s<sup>2</sup>2p<sup>4</sup></li>
                <hr>
                <li><strong>Year Discoverd:</strong> 1774</li>
                <hr>
                <li><a href="https://en.wikipedia.org/wiki/Oxygen">Wikipedia</a></li>
            </ul>
        </div>
    </div>
</body>
</html>