<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="grid.css">
    <form autocomplete="off" action="..."></form>
    <title>Polonium</title>
</head>
<body>
    <div class="B-div">
        <div class="B">
            <a class="tableL" href="/periodic_table.html">X</a>
            <ul>
                <li>84</li>
                <li class="B-e">Po</li>
                <li>Polonium</li>
            </ul>    
        </div>
        <div class="B-info">
            <ul>
                <li><strong>Atomic Number:</strong> 84</li>
                <hr>
                <li><strong>Atomic Mass:</strong> [209]</li>
                <hr>
                <li><strong>Group:</strong> Metalloid</li>
                <hr>
                <li><strong>Standard State:</strong> solid</li>
                <hr>
                <li><strong>Melting Point:</strong> 527K</li>
                <hr>
                <li><strong>Boiling Point:</strong> 1235K</li>
                <hr>
                <li><strong>Electron Configuration:</strong> [Xe]6s<sup>2</sup>4f<sup>14</sup>5d<sup>10</sup>6p<sup>4</sup></li>
                <hr>
                <li><strong>Year Discoverd:</strong> 1898</li>
                <hr>
                <li><a href="https://en.wikipedia.org/wiki/Polonium">Wikipedia</a></li>
            </ul>
        </div>
    </div>
</body>
</html>