<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="grid.css">
    <form autocomplete="off" action="..."></form>
    <title>Sulfer</title>
</head>
<body>
    <div class="B-div">
        <div class="B">
            <a class="tableL" href="/periodic_table.html">X</a>
            <ul>
                <li>16</li>
                <li class="B-e">S</li>
                <li>Sulfer</li>
            </ul>    
        </div>
        <div class="B-info">
            <ul>
                <li><strong>Atomic Number:</strong> 16</li>
                <hr>
                <li><strong>Atomic Mass:</strong> 32.07</li>
                <hr>
                <li><strong>Group:</strong> Nonmetal</li>
                <hr>
                <li><strong>Standard State:</strong> solid</li>
                <hr>
                <li><strong>Melting Point:</strong> 388.36K</li>
                <hr>
                <li><strong>Boiling Point:</strong> 717.75K</li>
                <hr>
                <li><strong>Electron Configuration:</strong> [Ne]3s<sup>2</sup>3p<sup>4</sup></li>
                <hr>
                <li><strong>Year Discoverd:</strong> Ancient</li>
                <hr>
                <li><a href="https://en.wikipedia.org/wiki/Sulfer">Wikipedia</a></li>
            </ul>
        </div>
    </div>
</body>
</html>