<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="grid.css">
    <form autocomplete="off" action="..."></form>
    <title>Tellurium</title>
</head>
<body>
    <div class="B-div">
        <div class="B">
            <a class="tableL" href="/periodic_table.html">X</a>
            <ul>
                <li>52</li>
                <li class="B-e">Te</li>
                <li>Tellurium</li>
            </ul>    
        </div>
        <div class="B-info">
            <ul>
                <li><strong>Atomic Number:</strong> 52</li>
                <hr>
                <li><strong>Atomic Mass:</strong> 127.60</li>
                <hr>
                <li><strong>Group:</strong> Nonmetal</li>
                <hr>
                <li><strong>Standard State:</strong> solid</li>
                <hr>
                <li><strong>Melting Point:</strong> 722.66K</li>
                <hr>
                <li><strong>Boiling Point:</strong> 1261K</li>
                <hr>
                <li><strong>Electron Configuration:</strong> [Kr]5s<sup>2</sup>4d<sup>10</sup>5p<sup>4</sup></li>
                <hr>
                <li><strong>Year Discoverd:</strong> 1782</li>
                <hr>
                <li><a href="https://en.wikipedia.org/wiki/Tellurium">Wikipedia</a></li>
            </ul>
        </div>
    </div>
</body>
</html>