{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/grid.css">
    <form autocomplete="off" action="..."></form>
    <title>Mercury</title>
</head>
<body>
    <div class="G-div">
        <div class="G">
            <a class="tableL" href="{% url 'periodic_table' %}">X</a>
            <ul>
                <li>80</li>
                <li class="G-e">Hg</li>
                <li>Mercury</li>
            </ul>    
        </div>
        <div class="G-info">
            <ul>
                <li><strong>Atomic Number:</strong> 80</li>
                <hr>
                <li><strong>Atomic Mass:</strong> 200.6</li>
                <hr>
                <li><strong>Group:</strong> Transition Metal</li>
                <hr>
                <li><strong>Standard State:</strong> Liquid</li>
                <hr>
                <li><strong>Melting Point:</strong> 234.32K</li>
                <hr>
                <li><strong>Boiling Point:</strong> 629.88K</li>
                <hr>
                <li><strong>Electron Configuration:</strong> [Xe]6s<sup>2</sup>4f<sup>14</sup>5d<sup>10</sup></li>
                <hr>
                <li><strong>Year Discovered:</strong> Ancient</li>
                <hr>
                <li><a href="https://en.wikipedia.org/wiki/Mercury">Wikipedia</a></li>
            </ul>
        </div>
    </div>
</body>
</html>