{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/grid.css">
    <form autocomplete="off" action="..."></form>
    <title>Barium</title>
</head>
<body>
 <div class="R-div">
        <div class="R">
            <a class="tableL" href="/periodic_table.html">X</a>
            <ul>
                <li>56</li>
                <li class="R-e">Ba</li>
                <li>Barium</li>
            </ul>
        </div>
        <div class="R-info">
            <ul>
                <li><strong>Atomic Number:</strong> 56</li>
                <hr>
                <li><strong>Atomic Mass:</strong> 137.3</li>
                <hr>
                <li><strong>Group:</strong> Alkaline Earth Meta</li>
                <hr>
                <li><strong>Standard State:</strong> solid</li>
                <hr>
                <li><strong>Melting Point:</strong> 1000K</li>
                <hr>
                <li><strong>Boiling Point:</strong> 2170K</li>
                <hr>
                <li><strong>Electron Configuration:</strong> [Xe]6s<sup>2</sup></li>
                <hr>
                <li><strong>Year Discovered:</strong> 1808</li>
                <hr>
                <li><a href="https://en.wikipedia.org/wiki/Barium">Wikipedia</a></li>
            </ul>
        </div>
    </div>
</body>
</html>