{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/grid.css">
    <form autocomplete="off" action="..."></form>
    <title>Magnesium</title>
</head>
<body>
 <div class="R-div">
        <div class="R">
            <a class="tableL" href="{% url 'periodic_table' %}">X</a>
            <ul>
                <li>12</li>
                <li class="R-e">Mg</li>
                <li>Magnesium</li>
            </ul>
        </div>
        <div class="R-info">
            <ul>
                <li><strong>Atomic Number:</strong> 12</li>
                <hr>
                <li><strong>Atomic Mass:</strong> 24.31</li>
                <hr>
                <li><strong>Group:</strong> Alkaline Earth Metal</li>
                <hr>
                <li><strong>Standard State:</strong> solid</li>
                <hr>
                <li><strong>Melting Point:</strong> 923K</li>
                <hr>
                <li><strong>Boiling Point:</strong> 1363K</li>
                <hr>
                <li><strong>Electron Configuration:</strong> [Ne]3s<sup>2</sup></li>
                <hr>
                <li><strong>Year Discovered:</strong> 1808</li>
                <hr>
                <li><a href="https://en.wikipedia.org/wiki/Magnesium">Wikipedia</a></li>
            </ul>
        </div>
    </div>
</body>
</html>