{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/grid.css">
    <form autocomplete="off" action="..."></form>
    <title>Radium</title>
</head>
<body>
 <div class="R-div">
        <div class="R">
            <a class="tableL" href="/periodic_table.html">X</a>
            <ul>
                <li>88</li>
                <li class="R-e">Ra</li>
                <li>Radium</li>
            </ul>
        </div>
        <div class="R-info">
            <ul>
                <li><strong>Atomic Number:</strong> 88</li>
                <hr>
                <li><strong>Atomic Mass:</strong> 226</li>
                <hr>
                <li><strong>Group:</strong> Alkaline Earth Metal</li>
                <hr>
                <li><strong>Standard State:</strong> solid</li>
                <hr>
                <li><strong>Melting Point:</strong> 973K</li>
                <hr>
                <li><strong>Boiling Point:</strong> 1413K</li>
                <hr>
                <li><strong>Electron Configuration:</strong> [Rn]7s<sup>2</sup></li>
                <hr>
                <li><strong>Year Discovered:</strong> 1898</li>
                <hr>
                <li><a href="https://en.wikipedia.org/wiki/Radium">Wikipedia</a></li>
            </ul>
        </div>
    </div>
</body>
</html>