body{
    font-family: monospace;
}
.whole{
    justify-content: center;
    display: flex;
}
.whole > div{
    display: grid;
    grid-auto-rows: 1fr;
}
.red > a{
    padding: 4px;
    text-align: center;
    font-size: 2.3rem;
    border: 2px solid rgb(221, 221, 221);
    border-radius: 2px;
    color: black;
    background-color: rgb(255, 47, 47);
    text-decoration: none;
}
.red > a:hover{
    padding: 4px;
    text-align: center;
    font-size: 2.3rem;
    border: 2px solid rgb(221, 221, 221);
    border-radius: 2px;
    color: black;
    background-color: rgb(255, 107, 107);
    text-decoration: none;
}
.green > a{
    padding: 4px;
    text-align: center;
    font-size: 2.3rem;
    border: 2px solid rgb(221, 221, 221);
    border-radius: 2px;
    color: black;
    background-color: rgb(43, 185, 43);
    text-decoration: none;
}
.green > a:hover{
    padding: 4px;
    text-align: center;
    font-size: 2.3rem;
    border: 2px solid rgb(221, 221, 221);
    border-radius: 2px;
    color: black;
    background-color: rgb(110, 217, 110);
    text-decoration: none;
}
.blue > a{
    padding: 4px;
    text-align: center;
    font-size: 2.3rem;
    border: 2px solid rgb(221, 221, 221);
    border-radius: 2px;
    color: black;
    background-color: rgb(68, 171, 255);
    text-decoration: none;
}
.blue > a:hover{
    padding: 4px;
    text-align: center;
    font-size: 2.3rem;
    border: 2px solid rgb(221, 221, 221);
    border-radius: 2px;
    color: black;
    background-color: rgb(116, 192, 255);
    text-decoration: none;
}
.la > a{
    padding: 4px;
    text-align: center;
    font-size: 2.3rem;
    border: 2px solid rgb(221, 221, 221);
    border-radius: 2px;
    color: black;
    background-color: rgb(255, 255, 50);
    text-decoration: none;
}
.la > a:hover{
    padding: 4px;
    text-align: center;
    font-size: 2.3rem;
    border: 2px solid rgb(221, 221, 221);
    border-radius: 2px;
    color: black;
    background-color: rgb(255, 255, 112);
    text-decoration: none;
}
.ok > a{
    padding: 4px;
    text-align: center;
    font-size: 2.3rem;
    border: 2px solid rgb(221, 221, 221);
    border-radius: 2px;
    color: black;
    background-color: rgb(255, 255, 50);
    text-decoration: none;  
    flex: 1;
}
.ok > a:hover{
    padding: 4px;
    text-align: center;
    font-size: 2.3rem;
    border: 2px solid rgb(221, 221, 221);
    border-radius: 2px;
    color: black;
    background-color: rgb(255, 255, 112);
    text-decoration: none;  
    flex: 1;
}
.n > a{
    text-align: center;
    font-size: 2.3rem;
    color: black;
    background-color: white;
    text-decoration: none;
}
.blue .red{
    padding: 4px;
    text-align: center;
    font-size: 2.3rem;
    border: 2px solid rgb(221, 221, 221);
    border-radius: 2px;
    color: black;
    background-color: rgb(255, 47, 47);
    text-decoration: none;
}
.blue .red:hover{
    padding: 4px;
    text-align: center;
    font-size: 2.3rem;
    border: 2px solid rgb(221, 221, 221);
    border-radius: 2px;
    color: black;
    background-color: rgb(255, 107, 107);
    text-decoration: none;
}
.red  .w{
    text-align: center;
    color: white;
    background-color: white;
    text-decoration: none;
    border: white;
    padding: 16px;
}
.blue .w{
    text-align: center;
    color: white;
    background-color: white;
    text-decoration: none;
    border: white;
    padding: 16px;
}
.green .w{
    text-align: center;
    color: white;
    background-color: white;
    text-decoration: none;
    border: white;
    padding: 16px;
}
.la .w,.ok .w{
    text-align: center;
    color: white;
    background-color: white;
    text-decoration: none;
    border: white;
    padding: 16px;  
}
.n .w{
    text-align: center;
    color: white;
    background-color: white;
    text-decoration: none;
    border: white;
    padding: 16px;
}
.blue  .n{
    text-align: center;
    color: black;
    background-color: white;
    text-decoration: none;
    border: white;
}
.green .n{
    text-align: center;
    color: black;
    background-color: white;
    text-decoration: none;
    border: white;
}
.red .n{
    text-align: center;
    color: black;
    background-color: white;
    text-decoration: none;
    border: white;
}
.la .n,.ok .n{
    text-align: center;
    color: black;
    background-color: white;
    text-decoration: none;
    border: white;
    font-size: 2.3rem;
}
.la,.ok{
    display: flex;
}

.yellow{
    display: grid;
    margin-top: 25px;
    justify-content: center;
}
.pt{
    display: grid;
}
hr{
    margin: 10px;
}


/* red elements */
.red-div{
    justify-content: center;
    margin: auto;
    display: flex;
    border: 3px solid black;
    width: max-content;
    margin-top: 10.3%;
}
.red{
    background-color: rgb(255, 47, 47);
    text-align: center;
    display: flex;
    padding-right: 2.5rem;
}
.red-info{
    overflow-y: scroll;
    height: 400px;
}
.red > ul{
    padding-top: 3rem;
}
.red > ul > li{
    font-size: 2.5rem;
}
.red-info > ul > li{
    font-size: 2.2rem;
}
.red > ul,.red-info > ul{
    list-style-type: none;
}
.red .red-e{
    font-size: 5rem;
}
.red .tableL{
    color: black;
    font-size: 2.2rem;
    padding: 4px;
    margin: 4px;
    text-decoration: none;
    text-align: left;
}
/* end red elements */


/* green elements */
.green-div{
    justify-content: center;
    margin: auto;
    display: flex;
    border: 3px solid black;
    width: max-content;
}
.green{
    background-color: rgb(255, 47, 47);
    text-align: center;
    display: flex;
    padding-right: 2.5rem;
}
.green-info{
    overflow-y: scroll;
    height: 400px;
}
.green > ul{
    padding-top: 3rem;
}
.green > ul > li{
    font-size: 2.5rem;
}
.green-info > ul > li{
    font-size: 2.2rem;
}
.green > ul,.green-info > ul{
    list-style-type: none;
}
.green .green-e{
    font-size: 5rem;
}
.green .tableL{
    color: black;
    font-size: 2.2rem;
    padding: 4px;
    margin: 4px;
    text-decoration: none;
    text-align: left;
}

    
/* end green elements */


/* blue elements */
.blue-div{
    justify-content: center;
    margin: auto;
    display: flex;
    border: 3px solid black;
    width: max-content;
}
.blue{
    background-color: rgb(255, 47, 47);
    text-align: center;
    display: flex;
    padding-right: 2.5rem;
}
.blue-info{
    overflow-y: scroll;
    height: 400px;
}
.blue > ul{
    padding-top: 3rem;
}
.blue > ul > li{
    font-size: 2.5rem;
}
.blue-info > ul > li{
    font-size: 2.2rem;
}
.blue > ul,.blue-info > ul{
    list-style-type: none;
}
.blue .blue-e{
    font-size: 5rem;
}
.blue .tableL{
    color: black;
    font-size: 2.2rem;
    padding: 4px;
    margin: 4px;
    text-decoration: none;
    text-align: left;
}
/* end blue elements */


/* yellow elements */
.yellow-div{
    justify-content: center;
    margin: auto;
    display: flex;
    border: 3px solid black;
    width: max-content;
}
.yellow{
    background-color: rgb(255, 47, 47);
    text-align: center;
    display: flex;
    padding-right: 2.5rem;
}
.yellow-info{
    overflow-y: scroll;
    height: 400px;
}
.yellow > ul{
    padding-top: 3rem;
}
.yellow > ul > li{
    font-size: 2.5rem;
}
.yellow-info > ul > li{
    font-size: 2.2rem;
}
.yellow > ul,.yellow-info > ul{
    list-style-type: none;
}
.yellow .yellow-e{
    font-size: 5rem;
}
.yellow .tableL{
    color: black;
    font-size: 2.2rem;
    padding: 4px;
    margin: 4px;
    text-decoration: none;
    text-align: left;
}
/* end yellow elements */