{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/grid.css">
    <form autocomplete="off" action="..."></form>
    <title>Cesium</title>
</head>
<body>
    <div class="R-div">
        <div class="R">
            <a class="tableL" href="/periodic_table.html">X</a>
            <ul>
                <li>55</li>
                <li class="R-e">Cs</li>
                <li>Cesium</li>
            </ul>    
        </div>
        <div class="R-info">
            <ul>
                <li><strong>Atomic Number:</strong> 55</li>
                <hr>
                <li><strong>Atomic Mass:</strong> 132.9</li>
                <hr>
                <li><strong>Group:</strong> Alkali Metal</li>
                <hr>
                <li><strong>Standard State:</strong> solid</li>
                <hr>
                <li><strong>Melting Point:</strong> 301.59K</li>
                <hr>
                <li><strong>Boiling Point:</strong> 944K</li>
                <hr>
                <li><strong>Electron Configuration:</strong> [Xe]6s<sup>1</sup></li>
                <hr>
                <li><strong>Year Discoverd:</strong> 1860</li>
                <hr>
                <li><a href="https://en.wikipedia.org/wiki/Potassium">Wikipedia</a></li>
            </ul>
        </div>
    </div>
</body>
</html>