{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/grid.css">
    <form autocomplete="off" action="..."></form>
    <title>Francium</title>
</head>
<body>
    <div class="R-div">
        <div class="R">
            <a class="tableL" href="/periodic_table.html">X</a>
            <ul>
                <li>87</li>
                <li class="R-e">Fr</li>
                <li>Francium</li>
            </ul>    
        </div>
        <div class="R-info">
            <ul>
                <li><strong>Atomic Number:</strong> 87</li>
                <hr>
                <li><strong>Atomic Mass:</strong> 223</li>
                <hr>
                <li><strong>Group:</strong> Alkali Metal</li>
                <hr>
                <li><strong>Standard State:</strong> solid</li>
                <hr>
                <li><strong>Melting Point:</strong> 300K</li>
                <hr>
                <li><strong>Boiling Point:</strong> 950.15K</li>
                <hr>
                <li><strong>Electron Configuration:</strong> [Rn]7s<sup>1</sup></li>
                <hr>
                <li><strong>Year Discoverd:</strong> 1939</li>
                <hr>
                <li><a href="https://en.wikipedia.org/wiki/Francium">Wikipedia</a></li>
            </ul>
        </div>
    </div>
</body>
</html>