{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/grid.css">
    <form autocomplete="off" action="..."></form>
    <title>Hydrogen</title>
</head>
<body>
    <div class="R-div">
        <div class="R">
            <a class="tableL" href="/periodic_table.html">X</a>
            <ul>
                <li>1</li>
                <li class="R-e">H</li>
                <li>Hydrogen</li>
            </ul>    
        </div>
        <div class="R-info">
            <ul>
                <li><strong>Atomic Number:</strong> 1</li>
                <hr>
                <li><strong>Atomic Mass:</strong> 1.008</li>
                <hr>
                <li><strong>Group:</strong> nonmetal</li>
                <hr>
                <li><strong>Standard State:</strong> gas</li>
                <hr>
                <li><strong>Melting Point:</strong> 14.01K</li>
                <hr>
                <li><strong>Boiling Point:</strong> 20.28K</li>
                <hr>
                <li><strong>Electron Configuration:</strong> 1s<sup>1</sup></li>
                <hr>
                <li><strong>Year Discovered:</strong> 1766</li>
                <hr>
                <li><a href="https://en.wikipedia.org/wiki/Hydrogen">Wikipedia</a></li>
            </ul>
        </div>
    </div>
</body>
</html>