{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/grid.css">
    <form autocomplete="off" action="..."></form>
    <title>Rubidium</title>
</head>
<body>
    <div class="R-div">
        <div class="R">
            <a class="tableL" href="/periodic_table.html">X</a>
            <ul>
                <li>37</li>
                <li class="R-e">Rb</li>
                <li>Rubidium</li>
            </ul>    
        </div>
        <div class="R-info">
            <ul>
                <li><strong>Atomic Number:</strong> 37</li>
                <hr>
                <li><strong>Atomic Mass:</strong> 85.47</li>
                <hr>
                <li><strong>Group:</strong> Alkali Metal</li>
                <hr>
                <li><strong>Standard State:</strong> solid</li>
                <hr>
                <li><strong>Melting Point:</strong> 312.46K</li>
                <hr>
                <li><strong>Boiling Point:</strong> 961K</li>
                <hr>
                <li><strong>Electron Configuration:</strong> [Kr]5s<sup>1</sup></li>
                <hr>
                <li><strong>Year Discoverd:</strong> 1861</li>
                <hr>
                <li><a href="https://en.wikipedia.org/wiki/Rubidium">Wikipedia</a></li>
            </ul>
        </div>
    </div>
</body>
</html>