{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/grid.css">
    <form autocomplete="off" action="..."></form>
    <title>Chlorine</title>
</head>
<body>
    <div class="B-div">
        <div class="B">
            <a class="tableL" href="{% url 'periodic_table' %}">X</a>
            <ul>
                <li>17</li>
                <li class="B-e">Cl</li>
                <li>Chlorine</li>
            </ul>    
        </div>
        <div class="B-info">
            <ul>
                <li><strong>Atomic Number:</strong> 17</li>
                <hr>
                <li><strong>Atomic Mass:</strong> 35.45</li>
                <hr>
                <li><strong>Group:</strong> Halogen</li>
                <hr>
                <li><strong>Standard State:</strong> gas</li>
                <hr>
                <li><strong>Melting Point:</strong> 171.65K</li>
                <hr>
                <li><strong>Boiling Point:</strong> 239.11K</li>
                <hr>
                <li><strong>Electron Configuration:</strong> [Ne]3s<sup>2</sup>3p<sup>5</sup></li>
                <hr>
                <li><strong>Year Discovered:</strong> 1774</li>
                <hr>
                <li><a href="https://en.wikipedia.org/wiki/Chlorine">Wikipedia</a></li>
            </ul>
        </div>
    </div>
</body>
</html>