{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/grid.css">
    <form autocomplete="off" action="..."></form>
    <title>Fluorine</title>
</head>
<body>
    <div class="B-div">
        <div class="B">
            <a class="tableL" href="{% url 'periodic_table' %}">X</a>
            <ul>
                <li>9</li>
                <li class="B-e">F</li>
                <li>Fluorine</li>
            </ul>    
        </div>
        <div class="B-info">
            <ul>
                <li><strong>Atomic Number:</strong> 9</li>
                <hr>
                <li><strong>Atomic Mass:</strong> 19</li>
                <hr>
                <li><strong>Group:</strong> Halogen</li>
                <hr>
                <li><strong>Standard State:</strong> gas</li>
                <hr>
                <li><strong>Melting Point:</strong> 53.53K</li>
                <hr>
                <li><strong>Boiling Point:</strong> 85.03K</li>
                <hr>
                <li><strong>Electron Configuration:</strong> [He]2s<sup>2</sup>2p<sup>5</sup></li>
                <hr>
                <li><strong>Year Discovered:</strong> 1670</li>
                <hr>
                <li><a href="https://en.wikipedia.org/wiki/Fluorine">Wikipedia</a></li>
            </ul>
        </div>
    </div>
</body>
</html>