{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/grid.css">
    <form autocomplete="off" action="..."></form>
    <title>Iodine</title>
</head>
<body>
    <div class="B-div">
        <div class="B">
            <a class="tableL" href="{% url 'periodic_table' %}">X</a>
            <ul>
                <li>53</li>
                <li class="B-e">I</li>
                <li>Iodine</li>
            </ul>    
        </div>
        <div class="B-info">
            <ul>
                <li><strong>Atomic Number:</strong> 53</li>
                <hr>
                <li><strong>Atomic Mass:</strong> 126.9</li>
                <hr>
                <li><strong>Group:</strong> Halogen</li>
                <hr>
                <li><strong>Standard State:</strong> solid</li>
                <hr>
                <li><strong>Melting Point:</strong> 386.85K</li>
                <hr>
                <li><strong>Boiling Point:</strong> 457.55K</li>
                <hr>
                <li><strong>Electron Configuration:</strong> [Kr]5s<sup>2</sup>4d<sup>10</sup>5p<sup>5</sup></li>
                <hr>
                <li><strong>Year Discovered:</strong> 1811</li>
                <hr>
                <li><a href="https://en.wikipedia.org/wiki/Iodine">Wikipedia</a></li>
            </ul>
        </div>
    </div>
</body>
</html>