{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/grid.css">
    <form autocomplete="off" action="..."></form>
    <title>Helium</title>
</head>
<body>
    <div class="B-div">
        <div class="B">
            <a class="tableL" href="/periodic_table.html">X</a>
            <ul>
                <li>1</li>
                <li class="B-e">He</li>
                <li>Helium</li>
            </ul>    
        </div>
        <div class="B-info">
            <ul>
                <li><strong>Atomic Number:</strong> 1</li>
                <hr>
                <li><strong>Atomic Mass:</strong> 4.003</li>
                <hr>
                <li><strong>Group:</strong> Gas Noble</li>
                <hr>
                <li><strong>Standard State:</strong> gas</li>
                <hr>
                <li><strong>Melting Point:</strong> 0.95K</li>
                <hr>
                <li><strong>Boiling Point:</strong> 4.22K</li>
                <hr>
                <li><strong>Electron Configuration:</strong> 1s<sup>1</sup></li>
                <hr>
                <li><strong>Year Discoverd:</strong> 1868</li>
                <hr>
                <li><a href="https://en.wikipedia.org/wiki/Helium">Wikipedia</a></li>
            </ul>
        </div>
    </div>
</body>
</html>