{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/grid.css">
    <form autocomplete="off" action="..."></form>
    <title>Krypton</title>
</head>
<body>
    <div class="B-div">
        <div class="B">
            <a class="tableL" href="/periodic_table.html">X</a>
            <ul>
                <li>36</li>
                <li class="B-e">Kr</li>
                <li>Krypton</li>
            </ul>    
        </div>
        <div class="B-info">
            <ul>
                <li><strong>Atomic Number:</strong> 36</li>
                <hr>
                <li><strong>Atomic Mass:</strong> 83.80</li>
                <hr>
                <li><strong>Group:</strong> Noble Gas</li>
                <hr>
                <li><strong>Standard State:</strong> Gas</li>
                <hr>
                <li><strong>Melting Point:</strong> 115.79K</li>
                <hr>
                <li><strong>Boiling Point:</strong> 119.93K</li>
                <hr>
                <li><strong>Electron Configuration:</strong> [Ar]4s<sup>2</sup>3d<sup>10</sup>4p<sup>6</sup></li>
                <hr>
                <li><strong>Year Discoverd:</strong> 1898</li>
                <hr>
                <li><a href="https://en.wikipedia.org/wiki/Krypton">Wikipedia</a></li>
            </ul>
        </div>
    </div>
</body>
</html>