{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/grid.css">
    <form autocomplete="off" action="..."></form>
    <title>Oganesson</title>
</head>
<body>
    <div class="B-div">
        <div class="B">
            <a class="tableL" href="/periodic_table.html">X</a>
            <ul>
                <li>118</li>
                <li class="B-e">Og</li>
                <li>Oganesson</li>
            </ul>    
        </div>
        <div class="B-info">
            <ul>
                <li><strong>Atomic Number:</strong> 118</li>
                <hr>
                <li><strong>Atomic Mass:</strong> [294]</li>
                <hr>
                <li><strong>Group:</strong> Noble Gas</li>
                <hr>
                <li><strong>Standard State:</strong> Gas(Expected)</li>
                <hr>
                <li><strong>Melting Point:</strong> N/A</li>
                <hr>
                <li><strong>Boiling Point:</strong> N/A</li>
                <hr>
                <li><strong>Electron Configuration:</strong> [Rn]7s<sup>2</sup>7p<sup>6</sup>5f<sup>14</sup>6d<sup>10</sup></li>
                <hr>
                <li><strong>Year Discoverd:</strong> 2006</li>
                <hr>
                <li><a href="https://en.wikipedia.org/wiki/Oganesson">Wikipedia</a></li>
            </ul>
        </div>
    </div>
</body>
</html>