body{
    font-family: monospace;
}
.whole{
    justify-content: center;
    display: flex;
}
.whole > div{
    display: grid;
    grid-auto-rows: 1fr;
}
.red > a{
    padding: 4px;
    text-align: center;
    font-size: 2.3rem;
    border: 2px solid rgb(221, 221, 221);
    border-radius: 2px;
    color: black;
    background-color: rgb(255, 47, 47);
    text-decoration: none;
}
.red > a:hover{
    padding: 4px;
    text-align: center;
    font-size: 2.3rem;
    border: 2px solid rgb(221, 221, 221);
    border-radius: 2px;
    color: black;
    background-color: rgb(255, 107, 107);
    text-decoration: none;
}
.green > a{
    padding: 4px;
    text-align: center;
    font-size: 2.3rem;
    border: 2px solid rgb(221, 221, 221);
    border-radius: 2px;
    color: black;
    background-color: rgb(43, 185, 43);
    text-decoration: none;
}
.green > a:hover{
    padding: 4px;
    text-align: center;
    font-size: 2.3rem;
    border: 2px solid rgb(221, 221, 221);
    border-radius: 2px;
    color: black;
    background-color: rgb(110, 217, 110);
    text-decoration: none;
}
.blue > a{
    padding: 4px;
    text-align: center;
    font-size: 2.3rem;
    border: 2px solid rgb(221, 221, 221);
    border-radius: 2px;
    color: black;
    background-color: rgb(68, 171, 255);
    text-decoration: none;
}
.blue > a:hover{
    padding: 4px;
    text-align: center;
    font-size: 2.3rem;
    border: 2px solid rgb(221, 221, 221);
    border-radius: 2px;
    color: black;
    background-color: rgb(116, 192, 255);
    text-decoration: none;
}
.la > a{
    padding: 4px;
    text-align: center;
    font-size: 2.3rem;
    border: 2px solid rgb(221, 221, 221);
    border-radius: 2px;
    color: black;
    background-color: rgb(255, 255, 50);
    text-decoration: none;
}
.la > a:hover{
    padding: 4px;
    text-align: center;
    font-size: 2.3rem;
    border: 2px solid rgb(221, 221, 221);
    border-radius: 2px;
    color: black;
    background-color: rgb(255, 255, 112);
    text-decoration: none;
}
.ok > a{
    padding: 4px;
    text-align: center;
    font-size: 2.3rem;
    border: 2px solid rgb(221, 221, 221);
    border-radius: 2px;
    color: black;
    background-color: rgb(255, 255, 50);
    text-decoration: none;  
    flex: 1;
}
.ok > a:hover{
    padding: 4px;
    text-align: center;
    font-size: 2.3rem;
    border: 2px solid rgb(221, 221, 221);
    border-radius: 2px;
    color: black;
    background-color: rgb(255, 255, 112);
    text-decoration: none;  
    flex: 1;
}
.n > a{
    text-align: center;
    font-size: 2.3rem;
    color: black;
    background-color: white;
    text-decoration: none;
}
.blue .red{
    padding: 4px;
    text-align: center;
    font-size: 2.3rem;
    border: 2px solid rgb(221, 221, 221);
    border-radius: 2px;
    color: black;
    background-color: rgb(255, 47, 47);
    text-decoration: none;
}
.blue .red:hover{
    padding: 4px;
    text-align: center;
    font-size: 2.3rem;
    border: 2px solid rgb(221, 221, 221);
    border-radius: 2px;
    color: black;
    background-color: rgb(255, 107, 107);
    text-decoration: none;
}
.red  .w{
    text-align: center;
    color: white;
    background-color: white;
    text-decoration: none;
    border: white;
    padding: 16px;
}
.blue .w{
    text-align: center;
    color: white;
    background-color: white;
    text-decoration: none;
    border: white;
    padding: 16px;
}
.green .w{
    text-align: center;
    color: white;
    background-color: white;
    text-decoration: none;
    border: white;
    padding: 16px;
}
.la .w,.ok .w{
    text-align: center;
    color: white;
    background-color: white;
    text-decoration: none;
    border: white;
    padding: 16px;  
}
.n .w{
    text-align: center;
    color: white;
    background-color: white;
    text-decoration: none;
    border: white;
    padding: 16px;
}
.blue  .n{
    text-align: center;
    color: black;
    background-color: white;
    text-decoration: none;
    border: white;
}
.green .n{
    text-align: center;
    color: black;
    background-color: white;
    text-decoration: none;
    border: white;
}
.red .n{
    text-align: center;
    color: black;
    background-color: white;
    text-decoration: none;
    border: white;
}
.la .n,.ok .n{
    text-align: center;
    color: black;
    background-color: white;
    text-decoration: none;
    border: white;
    font-size: 2.3rem;
}
.la,.ok{
    display: flex;
}

.yellow{
    display: grid;
    margin-top: 25px;
    justify-content: center;
}
.pt{
    display: grid;
}
hr{
    margin: 10px;
}


/* red elements */
.R-div{
    justify-content: center;
    display: flex;
    border: 3px solid black;
    width: max-content;
    font-family: monospace;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);    
}
.R{
    background-color: rgb(255, 47, 47);
    text-align: center;
    display: flex;
    padding-right: 2.5rem;
}
.R-info{
    overflow-y: scroll;
    height: 400px;
}
.R > ul{
    padding-top: 3rem;
}
.R > ul > li{
    font-size: 2.5rem;
}
.R-info > ul > li{
    font-size: 2.2rem;
}
.R > ul,.R-info > ul{
    list-style-type: none;
}
.R .R-e{
    font-size: 5rem;
}
.R .tableL{
    color: black;
    font-size: 2.2rem;
    padding: 4px;
    text-decoration: none;
    height: 2.2rem;
    border: none;
    background-color: rgb(255, 47, 47);
}
.R .tableL:hover{
    color: black;
    font-size: 2.2rem;
    padding: 4px;
    text-decoration: none;
    height: 2.2rem;
    border: none;
    background-color: rgb(255, 47, 47);
}
/* end red elements */


/* green elements */
.G-div{
    justify-content: center;
    display: flex;
    border: 3px solid black;
    width: max-content;
    font-family: monospace;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);    
}
.G{
    background-color: rgb(43, 185, 43);
    text-align: center;
    display: flex;
    padding-right: 2.5rem;
}
.G-info{
    overflow-y: scroll;
    height: 400px;
}
.G > ul{
    padding-top: 3rem;
}
.G > ul > li{
    font-size: 2.5rem;
}
.G-info > ul > li{
    font-size: 2.2rem;
}
.G > ul,.G-info > ul{
    list-style-type: none;
}
.G .G-e{
    font-size: 5rem;
}
.G .tableL{
    color: black;
    font-size: 2.2rem;
    padding: 4px;
    text-decoration: none;
    height: 2.2rem;
    border: none;
    background-color: rgb(43, 185, 43);
}
.G .tableL:hover{
    color: black;
    font-size: 2.2rem;
    padding: 4px;
    text-decoration: none;
    height: 2.2rem;
    border: none;
    background-color: rgb(43, 185, 43);
}
    
/* end green elements */


/* blue elements */
.B-div{
    justify-content: center;
    display: flex;
    border: 3px solid black;
    width: max-content;
    font-family: monospace;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);    
}
.B{
    background-color: rgb(255, 47, 47);
    text-align: center;
    display: flex;
    padding-right: 2.5rem;
}
.B-info{
    overflow-y: scroll;
    height: 400px;
}
.B > ul{
    padding-top: 3rem;
}
.B > ul > li{
    font-size: 2.5rem;
}
.B-info > ul > li{
    font-size: 2.2rem;
}
.B > ul,.B-info > ul{
    list-style-type: none;
}
.B .B-e{
    font-size: 5rem;
}
.B .tableL{
    color: black;
    font-size: 2.2rem;
    padding: 4px;
    text-decoration: none;
    height: 2.2rem;
    border: none;
    background-color: rgb(255, 47, 47);
}
.B .tableL:hover{
    color: black;
    font-size: 2.2rem;
    padding: 4px;
    text-decoration: none;
    height: 2.2rem;
    border: none;
    background-color: rgb(255, 47, 47);
}
/* end blue elements */


/* yellow elements */
.Y-div{
    justify-content: center;
    display: flex;
    border: 3px solid black;
    width: max-content;
    font-family: monospace;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);    
}
.Y{
    background-color: rgb(255, 47, 47);
    text-align: center;
    display: flex;
    padding-right: 2.5rem;
}
.Y-info{
    overflow-y: scroll;
    height: 400px;
}
.Y > ul{
    padding-top: 3rem;
}
.Y > ul > li{
    font-size: 2.5rem;
}
.Y-info > ul > li{
    font-size: 2.2rem;
}
.Y > ul,.Y-info > ul{
    list-style-type: none;
}
.Y .Y-e{
    font-size: 5rem;
}
.Y .tableL{
    color: black;
    font-size: 2.2rem;
    padding: 4px;
    text-decoration: none;
    height: 2.2rem;
    border: none;
    background-color: rgb(255, 47, 47);
}
.Y .tableL:hover{
    color: black;
    font-size: 2.2rem;
    padding: 4px;
    text-decoration: none;
    height: 2.2rem;
    border: none;
    background-color: rgb(255, 47, 47);
}
    /* end yellow elements  */