<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/grid.css">
    <form autocomplete="off" action="..."></form>
    <title>Bohrium</title>
</head>
<body>
    <div class="G-div">
        <div class="G">
            <a class="tableL" href="/periodic_table.html">X</a>
            <ul>
                <li>107</li>
                <li class="G-e">Bh</li>
                <li>Bohrium</li>
            </ul>    
        </div>
        <div class="G-info">
            <ul>
                <li><strong>Atomic Number:</strong> 107</li>
                <hr>
                <li><strong>Atomic Mass:</strong> [272]</li>
                <hr>
                <li><strong>Group:</strong> Transition Metal</li>
                <hr>
                <li><strong>Standard State:</strong> solid</li>
                <hr>
                <li><strong>Melting Point:</strong> N/A</li>
                <hr>
                <li><strong>Boiling Point:</strong> N/A</li>
                <hr>
                <li><strong>Electron Configuration:</strong> [Rn]7s<sup>2</sup>5f<sup>14</sup>6d<sup>5</sup></li>
                <hr>
                <li><strong>Year Discoverd:</strong> 1976</li>
                <hr>
                <li><a href="https://en.wikipedia.org/wiki/Bohrium">Wikipedia</a></li>
            </ul>
        </div>
    </div>
</body>
</html>