<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/grid.css">
    <form autocomplete="off" action="..."></form>
    <title>Technetium</title>
</head>
<body>
    <div class="G-div">
        <div class="G">
            <a class="tableL" href="/periodic_table.html">X</a>
            <ul>
                <li>43</li>
                <li class="G-e">Tc</li>
                <li>Technetium</li>
            </ul>    
        </div>
        <div class="G-info">
            <ul>
                <li><strong>Atomic Number:</strong> 43</li>
                <hr>
                <li><strong>Atomic Mass:</strong> [98]</li>
                <hr>
                <li><strong>Group:</strong> Transition Metal</li>
                <hr>
                <li><strong>Standard State:</strong> solid</li>
                <hr>
                <li><strong>Melting Point:</strong> 2430k</li>
                <hr>
                <li><strong>Boiling Point:</strong> 4538K</li>
                <hr>
                <li><strong>Electron Configuration:</strong> [Kr]5s<sup>2</sup>4d<sup>5</sup></li>
                <hr>
                <li><strong>Year Discoverd:</strong> 1937</li>
                <hr>
                <li><a href="https://en.wikipedia.org/wiki/Technetium">Wikipedia</a></li>
            </ul>
        </div>
    </div>
</body>
</html>