<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/grid.css">
    <form autocomplete="off" action="..."></form>
    <title>Uranium</title>
</head>
<body>
    <div class="Y-div">
        <div class="Y">
            <a class="tableL" href="{% url 'periodic_table' %}">X</a>
            <ul>
                <li>92</li>
                <li class="Y-e">U</li>
                <li>Uranium</li>
            </ul>    
        </div>
        <div class="Y-info">
            <ul>
                <li><strong>Atomic Number:</strong> 92</li>
                <hr>
                <li><strong>Atomic Mass:</strong> 238.00</li>
                <hr>
                <li><strong>Group:</strong> Actinide</li>
                <hr>
                <li><strong>Standard State:</strong> solid</li>
                <hr>
                <li><strong>Melting Point:</strong> 1408K</li>
                <hr>
                <li><strong>Boiling Point:</strong> 4404K</li>
                <hr>
                <li><strong>Electron Configuration:</strong> [Rn]7s<sup>2</sup>5f<sup>3</sup>6d<sup>1</sup></li>
                <hr>
                <li><strong>Year Discoverd:</strong> 1789</li>
                <hr>
                <li><a href="https://en.wikipedia.org/wiki/Uranium">Wikipedia</a></li>
            </ul>
        </div>
    </div>
</body>
</html>