<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="grid.css">
    <form autocomplete="off" action="..."></form>
    <title>Carbon</title>
</head>
<body>
    <div class="B-div">
        <div class="B">
            <a class="tableL" href="/periodic_table.html">X</a>
            <ul>
                <li>6</li>
                <li class="B-e">C</li>
                <li>Carbon</li>
            </ul>    
        </div>
        <div class="B-info">
            <ul>
                <li><strong>Atomic Number:</strong> 6</li>
                <hr>
                <li><strong>Atomic Mass:</strong> 12.01</li>
                <hr>
                <li><strong>Group:</strong> Nonmetal</li>
                <hr>
                <li><strong>Standard State:</strong> Solid</li>
                <hr>
                <li><strong>Melting Point:</strong> 3823K</li>
                <hr>
                <li><strong>Boiling Point:</strong> 4098K</li>
                <hr>
                <li><strong>Electron Configuration:</strong> [He]2s<sup>2</sup>2p<sup>2</sup></li>
                <hr>
                <li><strong>Year Discoverd:</strong> ancient</li>
                <hr>
                <li><a href="https://en.wikipedia.org/wiki/Carbon">Wikipedia</a></li>
            </ul>
        </div>
    </div>
</body>
</html>