<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="grid.css">
    <form autocomplete="off" action="..."></form>
    <title>Germanium</title>
</head>
<body>
    <div class="B-div">
        <div class="B">
            <a class="tableL" href="/periodic_table.html">X</a>
            <ul>
                <li>32</li>
                <li class="B-e">Ge</li>
                <li>Germanium</li>
            </ul>    
        </div>
        <div class="B-info">
            <ul>
                <li><strong>Atomic Number:</strong> 32</li>
                <hr>
                <li><strong>Atomic Mass:</strong> 72.64</li>
                <hr>
                <li><strong>Group:</strong> Metalloid</li>
                <hr>
                <li><strong>Standard State:</strong> solid</li>
                <hr>
                <li><strong>Melting Point:</strong> 1211.4K</li>
                <hr>
                <li><strong>Boiling Point:</strong> 3106K</li>
                <hr>
                <li><strong>Electron Configuration:</strong> [Ar]4s<sup>2</sup>3d<sup>10</sup>4p<sup>2</sup></li>
                <hr>
                <li><strong>Year Discoverd:</strong> 1886</li>
                <hr>
                <li><a href="https://en.wikipedia.org/wiki/Germanium">Wikipedia</a></li>
            </ul>
        </div>
    </div>
</body>
</html>