<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="grid.css">
    <form autocomplete="off" action="..."></form>
    <title>Lead</title>
</head>
<body>
    <div class="B-div">
        <div class="B">
            <a class="tableL" href="/periodic_table.html">X</a>
            <ul>
                <li>82</li>
                <li class="B-e">Pb</li>
                <li>Lead</li>
            </ul>    
        </div>
        <div class="B-info">
            <ul>
                <li><strong>Atomic Number:</strong> 82</li>
                <hr>
                <li><strong>Atomic Mass:</strong> 207.20</li>
                <hr>
                <li><strong>Group:</strong> Post-Transition Metal</li>
                <hr>
                <li><strong>Standard State:</strong> solid</li>
                <hr>
                <li><strong>Melting Point:</strong> 600.61K</li>
                <hr>
                <li><strong>Boiling Point:</strong> 2022K</li>
                <hr>
                <li><strong>Electron Configuration:</strong> [Xe]6s<sup>2</sup>4f<sup>14</sup>5d<sup>10</sup>6p<sup>2</sup></li>
                <hr>
                <li><strong>Year Discoverd:</strong> Ancient</li>
                <hr>
                <li><a href="https://en.wikipedia.org/wiki/Lead">Wikipedia</a></li>
            </ul>
        </div>
    </div>
</body>
</html>