<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="grid.css">
    <form autocomplete="off" action="..."></form>
    <title>Silicon</title>
</head>
<body>
    <div class="B-div">
        <div class="B">
            <a class="tableL" href="/periodic_table.html">X</a>
            <ul>
                <li>14</li>
                <li class="B-e">Si</li>
                <li>Silicon</li>
            </ul>    
        </div>
        <div class="B-info">
            <ul>
                <li><strong>Atomic Number:</strong> 14</li>
                <hr>
                <li><strong>Atomic Mass:</strong> 28.09</li>
                <hr>
                <li><strong>Group:</strong> Metalloid</li>
                <hr>
                <li><strong>Standard State:</strong> solid</li>
                <hr>
                <li><strong>Melting Point:</strong> 1687K</li>
                <hr>
                <li><strong>Boiling Point:</strong> 3538K</li>
                <hr>
                <li><strong>Electron Configuration:</strong> [Ne]3s<sup>2</sup>3p<sup>2</sup></li>
                <hr>
                <li><strong>Year Discoverd:</strong> 1854</li>
                <hr>
                <li><a href="https://en.wikipedia.org/wiki/Silicon">Wikipedia</a></li>
            </ul>
        </div>
    </div>
</body>
</html>