<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="grid.css">
    <form autocomplete="off" action="..."></form>
    <title>Tin</title>
</head>
<body>
    <div class="B-div">
        <div class="B">
            <a class="tableL" href="/periodic_table.html">X</a>
            <ul>
                <li>50</li>
                <li class="B-e">Sn</li>
                <li>Tin</li>
            </ul>    
        </div>
        <div class="B-info">
            <ul>
                <li><strong>Atomic Number:</strong> 50</li>
                <hr>
                <li><strong>Atomic Mass:</strong> 118.70</li>
                <hr>
                <li><strong>Group:</strong> Post-Transition Metal</li>
                <hr>
                <li><strong>Standard State:</strong> solid</li>
                <hr>
                <li><strong>Melting Point:</strong> 505.08K</li>
                <hr>
                <li><strong>Boiling Point:</strong> 2875K</li>
                <hr>
                <li><strong>Electron Configuration:</strong> [Kr]5s<sup>2</sup>4d<sup>10</sup>5p<sup>2</sup></li>
                <hr>
                <li><strong>Year Discoverd:</strong> Ancient</li>
                <hr>
                <li><a href="https://en.wikipedia.org/wiki/Tin">Wikipedia</a></li>
            </ul>
        </div>
    </div>
</body>
</html>