<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/grid.css">
    <form autocomplete="off" action="..."></form>
    <title>Gold</title>
</head>
<body>
    <div class="G-div">
        <div class="G">
            <a class="tableL" href="/periodic_table.html">X</a>
            <ul>
                <li>79</li>
                <li class="G-e">Au</li>
                <li>Gold</li>
            </ul>    
        </div>
        <div class="G-info">
            <ul>
                <li><strong>Atomic Number:</strong> 79</li>
                <hr>
                <li><strong>Atomic Mass:</strong> 197.00</li>
                <hr>
                <li><strong>Group:</strong> Transition Metal</li>
                <hr>
                <li><strong>Standard State:</strong> solid</li>
                <hr>
                <li><strong>Melting Point:</strong> 1337.33K</li>
                <hr>
                <li><strong>Boiling Point:</strong> 3129K</li>
                <hr>
                <li><strong>Electron Configuration:</strong> [Xe]6s<sup>1</sup>4f<sup>11</sup>5d<sup>10</sup></li>
                <hr>
                <li><strong>Year Discoverd:</strong> ancient</li>
                <hr>
                <li><a href="https://en.wikipedia.org/wiki/Gold">Wikipedia</a></li>
            </ul>
        </div>
    </div>
</body>
</html>