{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/grid.css">
    <form autocomplete="off" action="..."></form>
    <title>Osmium</title>
</head>
<body>
    <div class="G-div">
        <div class="G">
            <a class="tableL" href="{% url 'periodic_table' %}">X</a>
            <ul>
                <li>24</li>
                <li class="G-e">Ti</li>
                <li>Osmium</li>
            </ul>    
        </div>
        <div class="G-info">
            <ul>
                <li><strong>Atomic Number:</strong> 76</li>
                <hr>
                <li><strong>Atomic Mass:</strong> 190.2</li>
                <hr>
                <li><strong>Group:</strong> Transition Metal</li>
                <hr>
                <li><strong>Standard State:</strong> solid</li>
                <hr>
                <li><strong>Melting Point:</strong> 3306K</li>
                <hr>
                <li><strong>Boiling Point:</strong> 5285K</li>
                <hr>
                <li><strong>Electron Configuration:</strong> [Xe]6s<sup>2</sup>4f<sup>14</sup>5d<sup>6</sup></li>
                <hr>
                <li><strong>Year Discovered:</strong> 1803</li>
                <hr>
                <li><a href="https://en.wikipedia.org/wiki/Osmium">Wikipedia</a></li>
            </ul>
        </div>
    </div>
</body>
</html>