{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/grid.css">
    <form autocomplete="off" action="..."></form>
    <title>Ruthenium</title>
</head>
<body>
    <div class="G-div">
        <div class="G">
            <a class="tableL" href="{% url 'periodic_table' %}">X</a>
            <ul>
                <li>44</li>
                <li class="G-e">Ru</li>
                <li>Ruthenium</li>
            </ul>    
        </div>
        <div class="G-info">
            <ul>
                <li><strong>Atomic Number:</strong> 44</li>
                <hr>
                <li><strong>Atomic Mass:</strong> 101.1</li>
                <hr>
                <li><strong>Group:</strong> Transition Metal</li>
                <hr>
                <li><strong>Standard State:</strong> solid</li>
                <hr>
                <li><strong>Melting Point:</strong> 2607K</li>
                <hr>
                <li><strong>Boiling Point:</strong> 4423K</li>
                <hr>
                <li><strong>Electron Configuration:</strong> [Kr]5s<sup>1</sup>4d<sup>7</sup></li>
                <hr>
                <li><strong>Year Discovered:</strong> 1827</li>
                <hr>
                <li><a href="https://en.wikipedia.org/wiki/Ruthenium">Wikipedia</a></li>
            </ul>
        </div>
    </div>
</body>
</html>