{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/grid.css">
    <form autocomplete="off" action="..."></form>
    <title>Arsenic</title>
</head>
<body>
    <div class="B-div">
        <div class="B">
            <a class="tableL" href="{% url 'periodic_table' %}">X</a>
            <ul>
                <li>33</li>
                <li class="B-e">As</li>
                <li>Arsenic</li>
            </ul>    
        </div>
        <div class="B-info">
            <ul>
                <li><strong>Atomic Number:</strong> 33</li>
                <hr>
                <li><strong>Atomic Mass:</strong> 74.92</li>
                <hr>
                <li><strong>Group:</strong> Metalloid</li>
                <hr>
                <li><strong>Standard State:</strong> solid</li>
                <hr>
                <li><strong>Melting Point:</strong> 1090K</li>
                <hr>
                <li><strong>Boiling Point:</strong> 887K</li>
                <hr>
                <li><strong>Electron Configuration:</strong> [Ar]4s<sup>2</sup>3d<sup>10</sup>4p<sup>3</sup></li>
                <hr>
                <li><strong>Year Discovered:</strong> Ancient</li>
                <hr>
                <li><a href="https://en.wikipedia.org/wiki/Arsenic">Wikipedia</a></li>
            </ul>
        </div>
    </div>
</body>
</html>