{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/grid.css">
    <form autocomplete="off" action="..."></form>
    <title>Moscovium</title>
</head>
<body>
    <div class="B-div">
        <div class="B">
            <a class="tableL" href="{% url 'periodic_table' %}">X</a>
            <ul>
                <li>115</li>
                <li class="B-e">Mc</li>
                <li>Moscovium</li>
            </ul>    
        </div>
        <div class="B-info">
            <ul>
                <li><strong>Atomic Number:</strong> 115</li>
                <hr>
                <li><strong>Atomic Mass:</strong> [288]</li>
                <hr>
                <li><strong>Group:</strong> Post-Transition Metal</li>
                <hr>
                <li><strong>Standard State:</strong> solid(Expected)</li>
                <hr>
                <li><strong>Melting Point:</strong> N/A</li>
                <hr>
                <li><strong>Boiling Point:</strong> N/A</li>
                <hr>
                <li><strong>Electron Configuration:</strong> [Rn]7s<sup>2</sup>7p<sup>3</sup>5f<sup>14</sup>6d<sup>10</sup></li>
                <hr>
                <li><strong>Year Discovered:</strong> 2003</li>
                <hr>
                <li><a href="https://en.wikipedia.org/wiki/Moscovium">Wikipedia</a></li>
            </ul>
        </div>
    </div>
</body>
</html>