<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/grid.css">
    <form autocomplete="off" action="..."></form>
    <title>Cobalt</title>
</head>
<body>
    <div class="G-div">
        <div class="G">
            <a class="tableL" href="/periodic_table.html">X</a>
            <ul>
                <li>27</li>
                <li class="G-e">Co</li>
                <li>Cobalt</li>
            </ul>    
        </div>
        <div class="G-info">
            <ul>
                <li><strong>Atomic Number:</strong> 27</li>
                <hr>
                <li><strong>Atomic Mass:</strong> 58.93</li>
                <hr>
                <li><strong>Group:</strong> Transition Metal</li>
                <hr>
                <li><strong>Standard State:</strong> solid</li>
                <hr>
                <li><strong>Melting Point:</strong> 1768k</li>
                <hr>
                <li><strong>Boiling Point:</strong> 3200K</li>
                <hr>
                <li><strong>Electron Configuration:</strong> [Ar]4s<sup>2</sup>3d<sup>7</sup></li>
                <hr>
                <li><strong>Year Discoverd:</strong> 1735</li>
                <hr>
                <li><a href="https://en.wikipedia.org/wiki/Cobalt">Wikipedia</a></li>
            </ul>
        </div>
    </div>
</body>
</html>