{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/grid.css">
    <form autocomplete="off" action="..."></form>
    <title>Boron</title>
</head>
<body>
    <div class="B-div">
        <div class="B">
            <a class="tableL" href="{% url 'periodic_table' %}">X</a>
            <ul>
                <li>5</li>
                <li class="B-e">B</li>
                <li>Boron</li>
            </ul>    
        </div>
        <div class="B-info">
            <ul>
                <li><strong>Atomic Number:</strong> 5</li>
                <hr>
                <li><strong>Atomic Mass:</strong> 10.8</li>
                <hr>
                <li><strong>Group:</strong> Metalloid</li>
                <hr>
                <li><strong>Standard State:</strong> solid</li>
                <hr>
                <li><strong>Melting Point:</strong> 2348K</li>
                <hr>
                <li><strong>Boiling Point:</strong> 4273K</li>
                <hr>
                <li><strong>Electron Configuration:</strong> [He]2s<sup>2</sup>2p<sup>1</sup></li>
                <hr>
                <li><strong>Year Discovered:</strong> 1808</li>
                <hr>
                <li><a href="https://en.wikipedia.org/wiki/Boron">Wikipedia</a></li>
            </ul>
        </div>
    </div>
</body>
</html>