{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/grid.css">
    <title>Periodic Table</title>
</head>
<body>
    <div class="pt">
        <div class="whole">
            <div class="n">
               <button class="w">0</button>           
                <a href="">1</a>
                <a href="">2</a>
                <a href="">3</a>
                <a href="">4</a>
                <a href="">5</a>
                <a href="">6</a>
                <a href="">7</a>
            </div>
            <div class="red">
                <a href="" class="n">1</a>
                <a href="{% url 'H' %}">H</a>
                <a href="{% url 'Li' %}">Li</a>
                <a href="{% url 'Na' %}">Na</a>
                <a href="{% url 'K' %}">K</a>
                <a href="{% url 'Rb' %}">Rb</a>
                <a href="{% url 'Cs' %}">Cs</a>
                <a href="{% url 'Fr' %}">Fr</a>
            </div>
            <div class="red">
               <button class="w">0</button>           
               <a href="" class="n">2</a>
                <a href="{% url 'Be' %}">Be</a>
                <a href="{% url 'Mg' %}">Mg</a>
                <a href="{% url 'Ca' %}">Ca</a>
                <a href="{% url 'Sr' %}">Sr</a>
                <a href="{% url 'Ba' %}">Ba</a>
                <a href="{% url 'Ra' %}">Ra</a>
            </div>
            <div class="green">
               <button class="w">0</button>           
               <button class="w">0</button>           
               <button class="w">0</button>
               <a href="" class="n">3</a>
                <a href="{% url 'Sc' %}">Sc</a>
                <a href="{% url 'Y' %}">Y</a>
                <button class="w">0</button>           
                <button class="w">0</button>           
            </div>
            <div class="green">
               <button class="w">0</button>           
               <button class="w">0</button>           
               <button class="w">0</button>
               <a href="" class="n">4</a>
                <a href="{% url 'Ti' %}">Ti</a>
                <a href="{% url 'Zr' %}">Zr</a>
                <a href="{% url 'Hf' %}">Hf</a>
                <a href="{% url 'Rf' %}">Rf</a>
            </div>
            <div class="green">
               <button class="w">0</button>           
               <button class="w">0</button>    
               <button class="w">0</button>                  
               <a href="" class="n">5</a>
                <a href="{% url 'V' %}">V</a>
                <a href="{% url 'Nb' %}">Nb</a>
                <a href="{% url 'Ta' %}">Ta</a>
                <a href="{% url 'Db' %}">Db</a>
            </div>
            <div class="green">
               <button class="w">0</button>           
               <button class="w">0</button>  
               <button class="w">0</button>                    
               <a href="" class="n">6</a>
                <a href="{% url 'Cr' %}">Cr</a>
                <a href="{% url 'Mo' %}">Mo</a>
                <a href="{% url 'W' %}">W</a>
                <a href="{% url 'Sg' %}">Sg</a>
            </div>
            <div class="green">
               <button class="w">0</button>           
               <button class="w">0</button>  
               <button class="w">0</button>                    
               <a href="" class="n">7</a>
                <a href="{% url 'Mn' %}">Mn</a>
                <a href="{% url 'Tc' %}">Tc</a>
                <a href="{% url 'Re' %}">Re</a>
                <a href="{% url 'Bh' %}">Bh</a>
            </div>
            <div class="green">
               <button class="w">0</button>           
               <button class="w">0</button> 
               <button class="w">0</button>                     
               <a href="" class="n">8</a>
                <a href="{% url 'Fe' %}">Fe</a>
                <a href="{% url 'Ru' %}">Ru</a>
                <a href="{% url 'Os' %}">Os</a>
                <a href="{% url 'Hs' %}">Hs</a>
            </div>
            <div class="green">
               <button class="w">0</button>           
               <button class="w">0</button> 
               <button class="w">0</button>                     
               <a href="" class="n">9</a>
                <a href="{% url 'Co' %}">Co</a>
                <a href="{% url 'Rh' %}">Rh</a>
                <a href="{% url 'Ir' %}">Ir</a>
                <a href="{% url 'Mt' %}">Mt</a>
            </div class="green">
            <div class="green">
               <button class="w">0</button>           
               <button class="w">0</button> 
               <button class="w">0</button>                     
               <a href="" class="n">10</a>
                <a href="{% url 'Ni' %}">Ni</a>
                <a href="{% url 'Pd' %}">Pd</a>
                <a href="{% url 'Pt' %}">Pt</a>
                <a href="{% url 'Ds' %}">Ds</a>
            </div>
            <div class="green">
               <button class="w">0</button>           
               <button class="w">0</button> 
               <button class="w">0</button>                     
               <a href="" class="n">11</a>
                <a href="{% url 'Cu' %}">Cu</a>
                <a href="{% url 'Ag' %}">Ag</a>
                <a href="{% url 'Au' %}">Au</a>
                <a href="{% url 'Rg' %}">Rg</a>
            </div>
            <div class="green">
               <button class="w">0</button>           
               <button class="w">0</button>        
               <button class="w">0</button>              
               <a href="" class="n">12</a>
                <a href="{% url 'Zn' %}">Zn</a>
                <a href="{% url 'Cd' %}">Cd</a>
                <a href="{% url 'Hg' %}">Hg</a>
                <a href="{% url 'Cn' %}">Cn</a>
            </div>
            <div class="blue">
               <button class="w">0</button>           
               <a href="" class="n">13</a>
                <a href="{% url 'B' %}">B</a>
                <a href="{% url 'Al' %}">Al</a>
                <a href="{% url 'Ga' %}">Ga</a>
                <a href="{% url 'In' %}">In</a>
                <a href="{% url 'Tl' %}">Tl</a>
                <a href="{% url 'Nh' %}">Nh</a>
            </div>
            <div class="blue">
               <button class="w">0</button>           
               <a href="" class="n">14</a>
                <a href="{% url 'C' %}">C</a>
                <a href="{% url 'Si' %}">Si</a>
                <a href="{% url 'Ge' %}">Ge</a>
                <a href="{% url 'Sn' %}">Sn</a>
                <a href="{% url 'Pb' %}">Pb</a>
                <a href="{% url 'Fl' %}">Fl</a>
            </div>
            <div class="blue">
               <button class="w">0</button>           
               <a href="" class="n">15</a>
                <a href="{% url 'N' %}">N</a>
                <a href="{% url 'P' %}">P</a>
                <a href="{% url 'As' %}">As</a>
                <a href="{% url 'Sb' %}">Sb</a>
                <a href="{% url 'Bi' %}">Bi</a>
                <a href="{% url 'Mc' %}">Mc</a>
            </div>
            <div class="blue">
               <button class="w">0</button>  
               <a href="" class="n">16</a>
                <a href="{% url 'O' %}">O</a>
                <a href="{% url 'S' %}">S</a>
                <a href="{% url 'Se' %}">Se</a>
                <a href="{% url 'Te' %}">Te</a>
                <a href="{% url 'Po' %}">Po</a>
                <a href="{% url 'Lv' %}">Lv</a>
            </div>
            <div class="blue">
                <button class="w">0</button>           
                <a href="" class="n">17</a>
                <a href="{% url 'F' %}">F</a>
                <a href="{% url 'Cl' %}">Cl</a>
                <a href="{% url 'Br' %}">Br</a>
                <a href="{% url 'I' %}">I</a>
                <a href="{% url 'At' %}">At</a>
                <a href="{% url 'Ts' %}">Ts</a>
            </div>
            <div class="blue">
                <a class="n" href="">18</a>
                <a class="red" href="{% url 'He' %}">He</a>
                <a href="{% url 'Ne' %}">Ne</a>
                <a href="{% url 'Ar' %}">Ar</a>
                <a href="{% url 'Kr' %}">Kr</a>
                <a href="{% url 'Xe' %}">Xe</a>
                <a href="{% url 'Rn' %}">Rn</a>
                <a href="{% url 'Og' %}">Og</a>
            </div>
        </div>    
        <div class="yellow">
            <div class="la">
                <button class="w">0</button> 
                <button class="w">0</button>   
                <button class="w">0</button>  
                <button class="w">0</button>           
                <button class="n">&#8627;</button>
                <a href="">la</a>
                <a href="">Ce</a>
                <a href="">Pr</a>
                <a href="">Nd</a>
                <a href="">Pm</a>
                <a href="">Sm</a>
                <a href="">Eu</a>
                <a href="">Gd</a>
                <a href="">Tb</a>
                <a href="">Dy</a>
                <a href="">Ho</a>
                <a href="">Er</a>
                <a href="">Tm</a>
                <a href="">Yb</a>
                <a href="">Lr</a>
            </div>
            <div class="ok">
                <button class="w">0</button>  
                <button class="w">0</button>  
                <button class="w">0</button>  
                <button class="w">0</button>           
                <button class="n">&#8627;</button>
                <a href="">Ac</a>
                <a href="">Th</a>
                <a href="">Pa</a>
                <a href="">U</a>
                <a href="">Np</a>
                <a href="">Pu</a>
                <a href="">Am</a>
                <a href="">Cm</a>
                <a href="">Bk</a>
                <a href="">Cf</a>
                <a href="">Es</a>
                <a href="">Fm</a>
                <a href="">Md</a>
                <a href="">No</a>
                <a href="">Lu</a>
            </div>
        </div>
    </div>
</body>
</html>